:root {
  --fondo: rgba(86, 101, 165, 0.7);
  --form: #e4e4e4; /*no trasparencia*/
  --borderInput: rgba(86, 101, 165, 0.7);
  --notaImportante: #ffa62b;
  --notaUrgente: #fb8888;
  --notaSecundaria: #f1f764;
}
.body {
  background-color: var(--fondo);
  font-family: "Raleway", sans-serif;
}
.header {
  background-color: var(--form);
  font-weight: 100;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.container_header {
  padding-top: 14px;
  padding-bottom: 14px;
}
.header_p {
  font-weight: 100;
  font-size: 24px;
  margin-top: 0;
  margin-left: 14px;
  margin-bottom: 5px;
}
.header_p_dinamic {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 14px;
  margin-left: 21px;
  font-weight: inherit;
  font-size: 22px;

  text-transform: capitalize;
}
.header_btn {
  margin-right: 14px;
  margin-left: 14px;
  padding: 4px 10px;
  border-radius: 15px;
  border: 1px solid var(--borderInput);
  background-color: var(--form);
}
.header_btn:hover {
  background-color: var(--fondo);
  color: var(--form);
}
.h1 {
  margin-top: 0;
  padding-top: 40px;
  margin-bottom: 40px;
  font-weight: 100;
  font-size: 50px;
  text-align: center;
  color: var(--form);
}
.h2 {
  font-weight: 100;
  font-size: 30px;
  text-align: left;
  margin: 25px;
  color: var(--form);
}
.notas {
  margin-left: auto;
  margin-right: auto;
  width: 84%;
  border: 1px solid var(--form);
  border-radius: 20px;
  padding: 20px;

  background-color: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  margin-bottom: 40px;
}
.nota {
  min-width: 225px;
  max-width: 225px;
  position: relative; /*solo para intentar la edicion*/

  width: 225px;
  height: 225px;
  border-radius: 4px;
  padding: 10px;
}
.nota_titulo {
  text-align: center;
  font-weight: 100;
  font-size: 24px;
  margin-top: 10px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 8px;
}
.nota_descripcion {
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 0;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
}
.form_textarea_descripcion_nota,
.form_textarea_titulo_nota {
  position: absolute;
  top: 54px;
  left: 14px;
  width: 211px;
  height: 13px;
  background-color: transparent;
  border: transparent;
  resize: none;
  overflow: hidden;
  color: transparent;
}
.form_textarea_titulo_nota {
  top: 20px;
  left: 16px;
  width: 207px;
  height: 22px;
}
.form_textarea_titulo_nota:focus,
.form_textarea_descripcion_nota:focus {
  position: absolute;
  top: 20px;
  left: 16px;
  width: 207px;
  height: 22px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid var(--borderInput);
  background-color: var(--form);
  outline: none;
  color: black;
}
.form_textarea_descripcion_nota:focus {
  top: 54px;
  left: 14px;
  width: 211px;
  height: 170px;
}
.btn {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 100px;
  right: 15px;
  z-index: 900;
  border-radius: 50%;
  border: 1px solid var(--borderInput);
  background-color: #f6f6f8;
}
.mas {
  position: absolute;
  top: 17px;
  right: 15px;
  height: 45px;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.form {
  position: relative;
  min-height: 250px;
  min-width: 250px;
  max-width: 350px;
  max-height: 350px;
  width: 40vw;
  height: 40vw;
  background-color: var(--form);
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.form_title {
  font-weight: 100;
  font-size: 30px;
  margin: 0;
}
.form_input {
  font-weight: 400;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--borderInput);
  background-color: var(--form);
}
.form_boton {
  padding: 8px 30px;
  border-radius: 15px;
  border: 1px solid var(--borderInput);
  background-color: var(--form);
}
.cerrar {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px;
  margin: 10px;
}

.cerrar_img {
  width: 25px;
  transform: rotate(45deg);
}
.noNotas {
  color: var(--form);
  font-size: 18px;
}

.err {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: red;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.err p {
  font-size: 14px;
  margin: 2px;
}
.inactiva {
  display: none;
}
.notaCerrar {
  transform: rotate(45deg);
  width: 16px;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
}
.urgente {
  background-color: var(--notaUrgente);
}
.importante {
  background-color: var(--notaImportante);
}
.secundario {
  background-color: var(--notaSecundaria);
}
